.aboutUs{
    font-size: 33px;
    text-align: center;
    font-weight: 600;
    font-style:inherit;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;

}
.bdy2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;  
    margin: 50px 55px;
    padding: 20px;


}
.crsl{
    width: 50%;
    display: flex;
    margin: auto;
}
.crsl .crd{
    width: 100vw;
    height: 300px;
    border: 2px solid black;
    margin: auto 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 14px;
    position: relative;
    right: 55px;    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    font-size: 17px;
    background-color: rgba(231, 231, 231, 0.637);
    /* background: transparent; */
    backdrop-filter: blur(40);
    cursor: pointer;
    transition: 0.3s;
   
}
.main{
    position: relative;
    top: 115px;
    right: 270px;
    margin: 10px;   
    padding: 10px;
}


.fa-user-circle:hover{
    color: #ff6062;
}
i img{
    width: 155px;
    align-self: flex-end;
    position: relative;
}
.name{
    align-self: flex-start;
    margin-left:250px ;
    font-size: 28px;
}

.detail{
    width: 200px;
    padding: 5px 10px;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 21px;
    text-align: left;
    align-self: flex-start;
    margin-left:240px ;
    margin-top: 6px;


}
#inf{
    align-self: flex-start;
    margin-left:250px ;
    margin-top: 10px;
}
#hi{
    
    position: relative;
    left: 200px;
    bottom:100px ;
    z-index: 1;
}

.crd:hover{
    box-shadow: 3.5px 3.5px 10px black;
}